pytz==2020.1
pytorch_lightning==1.2.10
pyro_ppl==1.6.0
numpy==1.19.2
matplotlib==3.3.2
arviz==0.11.1
tqdm==4.50.2
dataclasses==0.6
optuna==2.6.0
scipy==1.5.2
palettable==3.3.0
torch==1.9.0
einops==0.3.0
neuralprophet==0.2.8
joblib==0.17.0
statsmodels==0.12.2
pandas==1.2.4
Shapely==1.7.1
ipython==7.27.0
pyro==3.16
scikit_learn==0.24.2
